/.idea/.idea.WebScraper/.idea/.name
/WebScraper/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
/.idea/.idea.WebScraper/.idea/indexLayout.xml
/WebScraper/obj/project.assets.json
/WebScraper/obj/project.nuget.cache
/WebScraper/obj/project.packagespec.json
/WebScraper/obj/rider.project.restore.info
/.idea/.idea.WebScraper/.idea/vcs.xml
/WebScraper/obj/Debug/net8.0/WebScraper.AssemblyInfoInputs.cache
/WebScraper/obj/Debug/net8.0/WebScraper.assets.cache
/WebScraper/obj/Debug/net8.0/WebScraper.fsproj.AssemblyReference.cache
/WebScraper/obj/WebScraper.fsproj.nuget.dgspec.json
/WebScraper/obj/WebScraper.fsproj.nuget.g.props
/WebScraper/obj/WebScraper.fsproj.nuget.g.targets
